<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Riddle!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('nav.html.twig') }}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
